/* Colors are rgb(13, 157, 242) (blue) and rgb(248, 129, 7) (orange) */
html {
  font-family: "Playpen Sans", cursive;
  /* background-color: #f3f9fd; */
  /* background-color: rgb(234, 243, 255); */
  background-color: rgba(19, 156, 236, 0.1);
}

body {
  margin: auto;
}
/* Welcome button */

.welcome-button{
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
will-change: box-shadow,transform;
background: rgb(254, 128, 1);
background: linear-gradient(
  180deg,
  rgba(254, 128, 1, 0.1) 0%,
  rgba(13, 157, 242, 0.8) 21%,
  rgba(0, 212, 255, 1) 100%
);
box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
padding: 0 32px;
border-radius: 6px;
color: #222121;
height: 60px;
width: 250px;
font-size: 25px;
text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
transition: box-shadow 0.15s ease,transform 0.15s ease;
}
.welcome-button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgba(248, 129, 7, 0.6);
    transform: translateY(-2px);
}
.welcome-button:active{
    box-shadow: inset 2px 2px 15px rgba(248, 129, 7, 0.2);
    transform: translateY(2px);
}


.head-wrapper {
  display: flex;
  height: 55px;
  width: 100%;
  /* color: #f8f8f8; */
  color: rgb(34, 33, 33);
  margin: auto;
  /* background-color: #67A5C8; */
  /* background-color: rgb(248, 129, 7); */
  /* background-color: rgba(19, 156, 236, 0.7); */
  background: rgb(254, 128, 1);
  background: linear-gradient(
    180deg,
    rgba(254, 128, 1, 0.1) 0%,
    rgba(13, 157, 242, 0.8) 21%,
    rgba(0, 212, 255, 1) 100%
  );
  border-bottom: 1px solid #67a5c8;
  /* opacity: 1; */
  /* justify-content: space-around; */
}

/* ... (previous styles) */

/* Lightbox styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  /* Dimmed background color */
}

.modal-content {
  background-color: #e9f7ff;
  border: 1px solid #ddd;
  padding: 50px;
  margin: 20% auto;
  width: 80%;
  max-width: 400px;
  position: relative;
  border-radius: 45%;
}

.close {
  position: absolute;
  top: 0px;
  /* Adjust the top position */
  right: 20px;
  /* Adjust the right position */
  padding: 20px;
  /* Increase padding for a bigger close button */
  font-size: 45px;
  /* Adjust font size for a bigger close button */
  cursor: pointer;
  color: #cb5858;
}

.error {
  border: 1px solid red;
}

/* ... (previous styles) */

#loginForm {
  /* display: block; */
  padding-left: 10px;
  position: fixed;
  right: 3%;
  top: 0.1%;
}

.create-account {
  margin-left: 15%;
  margin-top: 0;
 
}
#openRegisterModalLink{
    /* text-decoration: none; */
    color: black;
    margin-left: 70%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* margin-left: 50%; */
}
/* position phone number and phone icon */
.phone-text {
  position: fixed;
  left: 10.10%;

}
.fa-solid {
  position: fixed;
  left: 8.5%;
}

.nav-container {
  display: flex;
  text-decoration: none;
  /* justify-content: flex-end; */
  height: 65px;
  width: 100%;
  border-bottom: 1px solid #67a5c8;
  /* justify-content: space-around; */
  margin: 0;
  color: rgba(19, 156, 236, 0.7);
}
.logo-container {
  display: flex;
  /* padding-left: 10%; */
  width: 220px;
}

h1 {
  color: #67A5C8;
color: rgba(34, 33, 33, 0.6);
/* -webkit-text-stroke-width: 0.6px;
-webkit-text-stroke-color: black; */
font-size: 2rem;
}

.hero {
  /* display: flex; */
  height: 300px;
  width: 100%;
  /* background-color: rgba(13, 157, 242, 0.2); */
  background: rgb(254, 128, 1);
  background: linear-gradient(
    180deg,
    rgba(254, 128, 1, 0.3) 0%,
    rgba(13, 157, 242, 0.8) 21%,
    rgba(0, 212, 255, 0.8) 100%
  );
  border-bottom: 1px solid #67a5c8;
}
.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  padding-right: 5%;
  margin: 0;
}
.welcome-button{
  margin-left: 37%;
}
.devv-logos{
  justify-self: center;
  padding-left: 24%;
}

.navlinks {
  display: inline;
  padding: 12px;
  /* transition: background-color 10.3s linear; */
  /* font-size: 16px; */
}

.navlinks a {
  text-decoration: none;
  color: black;
  /* text-shadow: 4px 4px 3px rgba(1, 1, 65, 0.5);  */
  /* -webkit-text-stroke-width: .7px; */
  /* -webkit-text-stroke-color: black; */
  font-weight: 500;
}

.nav2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navlinks:hover {
  background-color: #b4e0fa;
  cursor: pointer;
}
/* learn indexing for array and dot notation for objects */
/* CURLY BRACES HOVER EFFECT */
.navlinks {
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 0.3s;
}

.navlinks:hover::before {
  content: "{";
  position: absolute;
  color: #67a5c8;
  font-size: 43px;
  top: 50%;
  transform: translateY(-50%);
  /* transition: color 10.3s; */
  /* width: 20px; */
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

.navlinks:hover::after {
  content: "}";
  position: absolute;
  color: #67a5c8;
  font-size: 43px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
  width: 20px;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: black;
}

.navlinks:hover::before {
  left: -15px;
}

.navlinks:hover::after {
  right: -15px;
}

/* Responsive */
/* img {
  max-width: 100%;
  height: auto;
} */
/* footer content */
.footer-container {
    display: flex;
 height: 100px;
 background: rgb(254, 128, 1);
 background: linear-gradient(
   180deg,
   rgba(254, 128, 1, 0.2) 0%,
   rgba(13, 157, 242, 0.5) 21%,
   rgba(0, 212, 255, 0.2) 100%
 );
 border-bottom: 1px solid #67a5c8;
 border-top: 1px solid #67a5c8;
}

.footer-list{
    display: flex;
    font-size: 17px;
    /* justify-content: center; */
    /* padding-top: 10px; */
}

  .footer-container p{
    font-size: 12px;
    /* margin-left: 20%; */
  }


