/* Colors are #67A5C8 (blue) and #CB5858 (red) */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Update to four equal columns */
    gap: 20px;
    padding: 20px;
  }

  .portfolio-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
  }

  .portfolio-item img {
    max-width: 100%;
    height: auto;
  }
  /* Responsive */
  img {
    max-width: 100%;
    height: auto;
}
/* Styles for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    /* mobile styles go here */
}

/* Styles for screens between 768px and 1024px (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* tablet styles go here */
}
